<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5 p-4 bg-white rounded shadow">
    <h2 class="text-center mb-4">Registro de Administrador</h2>

    <form th:action="@{/administrador/registro}" method="post" th:object="${usuario}">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>Nombre:</label>
                <input type="text" class="form-control" th:field="*{nombre}" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Apellido Paterno:</label>
                <input type="text" class="form-control" th:field="*{apellidoPaterno}" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Apellido Materno:</label>
                <input type="text" class="form-control" th:field="*{apellidoMaterno}" required>
            </div>
        </div>

         <div class="mb-3">
            <label>Fecha de nacimiento:</label>
            <input type="date" class="form-control" th:field="*{fechaNacimiento}" required>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Tipo de Documento:</label>
                <select class="form-select" th:field="*{tipodocumento}" required>
                    <option th:each="t : ${tiposdocumento}"
                            th:value="${t.codigo}"
                            th:text="${t.nombre}">
                    </option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label>Número de Documento:</label>
                <input type="text" class="form-control" th:field="*{nroDocumento}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Correo:</label>
                <input type="email" class="form-control" th:field="*{correo}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label>Contraseña:</label>
                <input type="password" class="form-control" th:field="*{clave}" required>
            </div>
        </div>

        <div class="mb-3">
            <label>Teléfono:</label>
            <input type="text" class="form-control" th:field="*{telefono}" required>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Distrito:</label>
                <select class="form-select" th:field="*{distrito}" required>
                <option value="" disabled selected>Seleccione su distrito</option>
                <option th:each="d : ${distritos}"
                        th:value="${d.codigo}"
                        th:text="${d.nombre}">
                </option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label>Dirección:</label>
                <input type="text" class="form-control" th:field="*{direccion}" required>
            </div>
        </div>


        <button type="submit" class="btn btn-primary w-100">Registrar Administrador</button>
    </form>
</div>
</body>
</html>
