<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arregla Go | Ingreso al Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container d-flex justify-content-center
    align-items-center vh-100">
        <!-- inicio del login -->
        <div class="p-5 rounded-5 shadow-lg" style="max-width: 450px; background-color: white;">
            <h1 class="text-center">Ingreso al Sistema</h1>
            <!-- inicio del formulario -->
            <form>
                <div class="mb-3">
                    <label for="txtUsu" class="form-label">Usuario: </label>
                    <input type="text" class="form-control" id="txtUsu" name="txtUsu" required
                        placeholder="Ingrese el usuario">
                </div>
                <div class="mb-3">
                    <label for="txtCla" class="form-label">Clave: </label>
                    <input type="password" class="form-control" id="txtCla" name="txtCla" required
                        placeholder="Ingresa la clave">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>

            </form>
            <!-- fin del formulario -->
            <a th:href="@{/menuprincipal}"> Ir a menu principal</a>
        </div>
        <!-- fin del login -->


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>